<style type="text/css">
.accordion {
    height: 90%;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;  
}
.header {
    background-color: #efefef;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0;
    font-style: none;
}
.header:first-of-type {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.header:nth-last-of-type(2) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-style: italic;
}
.visible {
    display: block;
    visibility: visible;
    border-radius: 0;
    padding: 5px;
    height: 0px;
}
.hidden {
    display: none;
    visibility: hidden;
    padding: 0;
}
</style>
<div class="accordion">
    <div class="slds-grid slds-grid--vertical">
        <div class="slds-box header">Suitable Positions</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
                (Suitable Positions)
            </div>
        </div>
        <div class="slds-box header">Engagement Level</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
                (Engagement Level)
            </div>
        </div>
        <div class="slds-box header">Sector Expertise</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
            (Sector Expertise)
            </div>
        </div>
        <div class="slds-box header">Functional Expertise</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
            (Functional Expertise)
            </div>
        </div>
        <div class="slds-box header">Geographical Expertise</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
            (Geographical Expertise)
            </div>
        </div>
        <div class="slds-box header active">Foo</div>
        <div class="slds-box slds-scrollable--y item visible">
            <div class="item-body">
            (Foo)
            </div>
        </div>
        <div class="slds-box header">Bar</div>
        <div class="slds-box slds-scrollable--y item hidden">
            <div class="item-body">
            (Bar)
            </div>
        </div>
    </div>
</div>